{
    "openapi": "3.0.1",
    "info": {
        "title": "SEMP (Solace Element Management Protocol)",
        "description": "SEMP (starting in `v2`) is a RESTful API for configuring, monitoring, and administering a Solace Event Broker. This specification defines the following API:\n\n\nAPI|Base Path|Purpose\n:---|:---|:---\nMonitoring|/SEMP/v2/monitor|Querying operational state\n\n\n\nThe following APIs are also available:\n\n\nAPI|Base Path|Purpose\n:---|:---|:---\nAction|/SEMP/v2/action|Performing actions\nConfiguration|/SEMP/v2/config|Reading and writing configuration\n\n\n\nFor tutorials, architectural and protocol design documentation, and other information about the SEMP API, consult the [SEMP documentation](https://docs.solace.com/Admin/SEMP/Using-SEMP.htm) on the Solace website. The SEMP API specifications are also [available for download](https://solace.com/downloads/).\n\nIf you need additional support, please contact us at [support@solace.com](mailto:support@solace.com).",
        "contact": {
            "name": "Solace",
            "url": "http://www.solace.com",
            "email": "support@solace.com"
        },
        "version": "2.53"
    },
    "servers": [
        {
            "url": "http://www.solace.com/SEMP/v2/monitor"
        },
        {
            "url": "https://www.solace.com/SEMP/v2/monitor"
        }
    ],
    "tags": [],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "all"
                ],
                "summary": "Get a Broker object.",
                "description": "Get a Broker object.\n\nThis object contains global configuration for the message broker.\n\n\nAttribute|Deprecated\n:---|:---:\nconfigSyncAuthenticationClientCertMaxChainDepth|x\nconfigSyncAuthenticationClientCertValidateDateEnabled|x\nconfigSyncClientProfileTcpInitialCongestionWindow|x\nconfigSyncClientProfileTcpMaxWindow|x\ntlsTicketLifetime|x\n\n\n\nThe minimum access scope/level required to perform this operation is determined by the attributes retrieved.\n\nThis has been available since 2.13.",
                "operationId": "getBroker",
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Broker object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrokerResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/about": {
            "get": {
                "tags": [
                    "all",
                    "about"
                ],
                "summary": "Get an About object.",
                "description": "Get an About object.\n\nThis provides metadata about the SEMP API, such as the version of the API supported by the broker.\n\n\n\nThe minimum access scope/level required to perform this operation is determined by the attributes retrieved.\n\nThis has been available since 2.13.",
                "operationId": "getAbout",
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The About object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AboutResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/about/api": {
            "get": {
                "tags": [
                    "all",
                    "about"
                ],
                "summary": "Get an API Description object.",
                "description": "Get an API Description object.\n\nThe API Description object provides metadata about the SEMP API.\n\n\n\nThe minimum access scope/level required to perform this operation is determined by the attributes retrieved.\n\nThis has been available since 2.11.",
                "operationId": "getAboutApi",
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The API Description object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AboutApiResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/about/user": {
            "get": {
                "tags": [
                    "all",
                    "about"
                ],
                "summary": "Get a User object.",
                "description": "Get a User object.\n\nSession and access level information about the user accessing the SEMP API.\n\n\n\nThe minimum access scope/level required to perform this operation is determined by the attributes retrieved.\n\nThis has been available since 2.11.",
                "operationId": "getAboutUser",
                "parameters": [
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The User object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AboutUserResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/about/user/msgVpns": {
            "get": {
                "tags": [
                    "all",
                    "about"
                ],
                "summary": "Get a list of User Message VPN objects.",
                "description": "Get a list of User Message VPN objects.\n\nThis provides information about the Message VPN access level for the username used to access the SEMP API.\n\n\nAttribute|Identifying\n:---|:---:\nmsgVpnName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/none\".\n\nThe maximum number of objects that can be returned in a single page is 100.\n\nThis has been available since 2.11.",
                "operationId": "getAboutUserMsgVpns",
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of User Message VPN objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AboutUserMsgVpnsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/about/user/msgVpns/{msgVpnName}": {
            "get": {
                "tags": [
                    "all",
                    "about"
                ],
                "summary": "Get a User Message VPN object.",
                "description": "Get a User Message VPN object.\n\nThis provides information about the Message VPN access level for the username used to access the SEMP API.\n\n\nAttribute|Identifying\n:---|:---:\nmsgVpnName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/none\".\n\nThis has been available since 2.11.",
                "operationId": "getAboutUserMsgVpn",
                "parameters": [
                    {
                        "name": "msgVpnName",
                        "in": "path",
                        "description": "The name of the Message VPN.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The User Message VPN object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AboutUserMsgVpnResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/certAuthorities": {
            "get": {
                "tags": [
                    "all",
                    "certAuthority"
                ],
                "summary": "Get a list of Certificate Authority objects.",
                "description": "Get a list of Certificate Authority objects.\n\nClients can authenticate with the message broker over TLS by presenting a valid client certificate. The message broker authenticates the client certificate by constructing a full certificate chain (from the client certificate to intermediate CAs to a configured root CA). The intermediate CAs in this chain can be provided by the client, or configured in the message broker. The root CA must be configured on the message broker.\n\n\nAttribute|Identifying|Deprecated\n:---|:---:|:---:\ncertAuthorityName|x|x\ncertContent||x\ncrlDayList||x\ncrlLastDownloadTime||x\ncrlLastFailureReason||x\ncrlLastFailureTime||x\ncrlNextDownloadTime||x\ncrlTimeList||x\ncrlUp||x\ncrlUrl||x\nocspLastFailureReason||x\nocspLastFailureTime||x\nocspLastFailureUrl||x\nocspNonResponderCertEnabled||x\nocspOverrideUrl||x\nocspTimeout||x\nrevocationCheckEnabled||x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 100.\n\nThis has been deprecated since 2.19. Replaced by clientCertAuthorities and domainCertAuthorities.",
                "operationId": "getCertAuthorities",
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Certificate Authority objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CertAuthoritiesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/certAuthorities/{certAuthorityName}": {
            "get": {
                "tags": [
                    "all",
                    "certAuthority"
                ],
                "summary": "Get a Certificate Authority object.",
                "description": "Get a Certificate Authority object.\n\nClients can authenticate with the message broker over TLS by presenting a valid client certificate. The message broker authenticates the client certificate by constructing a full certificate chain (from the client certificate to intermediate CAs to a configured root CA). The intermediate CAs in this chain can be provided by the client, or configured in the message broker. The root CA must be configured on the message broker.\n\n\nAttribute|Identifying|Deprecated\n:---|:---:|:---:\ncertAuthorityName|x|x\ncertContent||x\ncrlDayList||x\ncrlLastDownloadTime||x\ncrlLastFailureReason||x\ncrlLastFailureTime||x\ncrlNextDownloadTime||x\ncrlTimeList||x\ncrlUp||x\ncrlUrl||x\nocspLastFailureReason||x\nocspLastFailureTime||x\nocspLastFailureUrl||x\nocspNonResponderCertEnabled||x\nocspOverrideUrl||x\nocspTimeout||x\nrevocationCheckEnabled||x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been deprecated since 2.19. Replaced by clientCertAuthorities and domainCertAuthorities.",
                "operationId": "getCertAuthority",
                "parameters": [
                    {
                        "name": "certAuthorityName",
                        "in": "path",
                        "description": "The name of the Certificate Authority.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Certificate Authority object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CertAuthorityResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/certAuthorities/{certAuthorityName}/ocspTlsTrustedCommonNames": {
            "get": {
                "tags": [
                    "all",
                    "certAuthority"
                ],
                "summary": "Get a list of OCSP Responder Trusted Common Name objects.",
                "description": "Get a list of OCSP Responder Trusted Common Name objects.\n\nWhen an OCSP override URL is configured, the OCSP responder will be required to sign the OCSP responses with certificates issued to these Trusted Common Names. A maximum of 8 common names can be configured as valid response signers.\n\n\nAttribute|Identifying|Deprecated\n:---|:---:|:---:\ncertAuthorityName|x|x\nocspTlsTrustedCommonName|x|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 100.\n\nThis has been deprecated since 2.19. Replaced by clientCertAuthorities.",
                "operationId": "getCertAuthorityOcspTlsTrustedCommonNames",
                "parameters": [
                    {
                        "name": "certAuthorityName",
                        "in": "path",
                        "description": "The name of the Certificate Authority.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of OCSP Responder Trusted Common Name objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CertAuthorityOcspTlsTrustedCommonNamesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/certAuthorities/{certAuthorityName}/ocspTlsTrustedCommonNames/{ocspTlsTrustedCommonName}": {
            "get": {
                "tags": [
                    "all",
                    "certAuthority"
                ],
                "summary": "Get an OCSP Responder Trusted Common Name object.",
                "description": "Get an OCSP Responder Trusted Common Name object.\n\nWhen an OCSP override URL is configured, the OCSP responder will be required to sign the OCSP responses with certificates issued to these Trusted Common Names. A maximum of 8 common names can be configured as valid response signers.\n\n\nAttribute|Identifying|Deprecated\n:---|:---:|:---:\ncertAuthorityName|x|x\nocspTlsTrustedCommonName|x|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been deprecated since 2.19. Replaced by clientCertAuthorities.",
                "operationId": "getCertAuthorityOcspTlsTrustedCommonName",
                "parameters": [
                    {
                        "name": "certAuthorityName",
                        "in": "path",
                        "description": "The name of the Certificate Authority.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ocspTlsTrustedCommonName",
                        "in": "path",
                        "description": "The expected Trusted Common Name of the OCSP responder remote certificate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The OCSP Responder Trusted Common Name object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CertAuthorityOcspTlsTrustedCommonNameResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/clientCertAuthorities": {
            "get": {
                "tags": [
                    "all",
                    "clientCertAuthority"
                ],
                "summary": "Get a list of Client Certificate Authority objects.",
                "description": "Get a list of Client Certificate Authority objects.\n\nClients can authenticate with the message broker over TLS by presenting a valid client certificate. The message broker authenticates the client certificate by constructing a full certificate chain (from the client certificate to intermediate CAs to a configured root CA). The intermediate CAs in this chain can be provided by the client, or configured in the message broker. The root CA must be configured on the message broker.\n\n\nAttribute|Identifying\n:---|:---:\ncertAuthorityName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 100.\n\nThis has been available since 2.19.",
                "operationId": "getClientCertAuthorities",
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Client Certificate Authority objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientCertAuthoritiesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/clientCertAuthorities/{certAuthorityName}": {
            "get": {
                "tags": [
                    "all",
                    "clientCertAuthority"
                ],
                "summary": "Get a Client Certificate Authority object.",
                "description": "Get a Client Certificate Authority object.\n\nClients can authenticate with the message broker over TLS by presenting a valid client certificate. The message broker authenticates the client certificate by constructing a full certificate chain (from the client certificate to intermediate CAs to a configured root CA). The intermediate CAs in this chain can be provided by the client, or configured in the message broker. The root CA must be configured on the message broker.\n\n\nAttribute|Identifying\n:---|:---:\ncertAuthorityName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been available since 2.19.",
                "operationId": "getClientCertAuthority",
                "parameters": [
                    {
                        "name": "certAuthorityName",
                        "in": "path",
                        "description": "The name of the Certificate Authority.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Client Certificate Authority object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientCertAuthorityResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/clientCertAuthorities/{certAuthorityName}/ocspTlsTrustedCommonNames": {
            "get": {
                "tags": [
                    "all",
                    "clientCertAuthority"
                ],
                "summary": "Get a list of OCSP Responder Trusted Common Name objects.",
                "description": "Get a list of OCSP Responder Trusted Common Name objects.\n\nWhen an OCSP override URL is configured, the OCSP responder will be required to sign the OCSP responses with certificates issued to these Trusted Common Names. A maximum of 8 common names can be configured as valid response signers.\n\n\nAttribute|Identifying\n:---|:---:\ncertAuthorityName|x\nocspTlsTrustedCommonName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 100.\n\nThis has been available since 2.19.",
                "operationId": "getClientCertAuthorityOcspTlsTrustedCommonNames",
                "parameters": [
                    {
                        "name": "certAuthorityName",
                        "in": "path",
                        "description": "The name of the Certificate Authority.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of OCSP Responder Trusted Common Name objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientCertAuthorityOcspTlsTrustedCommonNamesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/clientCertAuthorities/{certAuthorityName}/ocspTlsTrustedCommonNames/{ocspTlsTrustedCommonName}": {
            "get": {
                "tags": [
                    "all",
                    "clientCertAuthority"
                ],
                "summary": "Get an OCSP Responder Trusted Common Name object.",
                "description": "Get an OCSP Responder Trusted Common Name object.\n\nWhen an OCSP override URL is configured, the OCSP responder will be required to sign the OCSP responses with certificates issued to these Trusted Common Names. A maximum of 8 common names can be configured as valid response signers.\n\n\nAttribute|Identifying\n:---|:---:\ncertAuthorityName|x\nocspTlsTrustedCommonName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been available since 2.19.",
                "operationId": "getClientCertAuthorityOcspTlsTrustedCommonName",
                "parameters": [
                    {
                        "name": "certAuthorityName",
                        "in": "path",
                        "description": "The name of the Certificate Authority.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ocspTlsTrustedCommonName",
                        "in": "path",
                        "description": "The expected Trusted Common Name of the OCSP responder remote certificate.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The OCSP Responder Trusted Common Name object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientCertAuthorityOcspTlsTrustedCommonNameResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/configSyncLocalDatabaseRows": {
            "get": {
                "tags": [
                    "all",
                    "configSyncLocalDatabaseRow"
                ],
                "summary": "Get a list of Config Sync Local Database objects.",
                "description": "Get a list of Config Sync Local Database objects.\n\nConfig Sync Local Database Rows contains information about the status of the table for this Broker or a local Message VPN.\n\n\nAttribute|Identifying\n:---|:---:\nname|x\ntype|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"vpn/read-only\". A minimum access scope/level of global/read-only is required to view the router table.\n\nThe maximum number of objects that can be returned in a single page is 100.\n\nThis has been available since 2.22.",
                "operationId": "getConfigSyncLocalDatabaseRows",
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Config Sync Local Database objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigSyncLocalDatabaseRowsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/configSyncLocalDatabaseRows/{type},{name}": {
            "get": {
                "tags": [
                    "all",
                    "configSyncLocalDatabaseRow"
                ],
                "summary": "Get a Config Sync Local Database object.",
                "description": "Get a Config Sync Local Database object.\n\nConfig Sync Local Database Rows contains information about the status of the table for this Broker or a local Message VPN.\n\n\nAttribute|Identifying\n:---|:---:\nname|x\ntype|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"vpn/read-only\". A minimum access scope/level of global/read-only is required to view the router table.\n\nThis has been available since 2.22.",
                "operationId": "getConfigSyncLocalDatabaseRow",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "The type of the row. Can be one of \"router\" or \"vpn\". There is one \"router\" row and one row for each configured \"vpn\". Each row represents a table of information that is synchronized between Config Sync and replication mates.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name is \"site\" when the row type is \"router\", otherwise it is the Message VPN name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Config Sync Local Database object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigSyncLocalDatabaseRowResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a list of Cluster objects.",
                "description": "Get a list of Cluster objects.\n\nA Cluster is a provisioned object on a message broker that contains global DMR configuration parameters.\n\n\nAttribute|Identifying|Deprecated\n:---|:---:|:---:\ndmrClusterName|x|\ntlsServerCertEnforceTrustedCommonNameEnabled||x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 100.\n\nThis has been available since 2.11.",
                "operationId": "getDmrClusters",
                "parameters": [
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Cluster objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClustersResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a Cluster object.",
                "description": "Get a Cluster object.\n\nA Cluster is a provisioned object on a message broker that contains global DMR configuration parameters.\n\n\nAttribute|Identifying|Deprecated\n:---|:---:|:---:\ndmrClusterName|x|\ntlsServerCertEnforceTrustedCommonNameEnabled||x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been available since 2.11.",
                "operationId": "getDmrCluster",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Cluster object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/certMatchingRules": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a list of Certificate Matching Rule objects.",
                "description": "Get a list of Certificate Matching Rule objects.\n\nA Cert Matching Rule is a collection of conditions and attribute filters that all have to be satisfied for certificate to be acceptable as authentication for a given link.\n\n\nAttribute|Identifying\n:---|:---:\ndmrClusterName|x\nruleName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 500.\n\nThis has been available since 2.28.",
                "operationId": "getDmrClusterCertMatchingRules",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Certificate Matching Rule objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterCertMatchingRulesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/certMatchingRules/{ruleName}": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a Certificate Matching Rule object.",
                "description": "Get a Certificate Matching Rule object.\n\nA Cert Matching Rule is a collection of conditions and attribute filters that all have to be satisfied for certificate to be acceptable as authentication for a given link.\n\n\nAttribute|Identifying\n:---|:---:\ndmrClusterName|x\nruleName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been available since 2.28.",
                "operationId": "getDmrClusterCertMatchingRule",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ruleName",
                        "in": "path",
                        "description": "The name of the rule.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Certificate Matching Rule object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterCertMatchingRuleResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/certMatchingRules/{ruleName}/attributeFilters": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a list of Certificate Matching Rule Attribute Filter objects.",
                "description": "Get a list of Certificate Matching Rule Attribute Filter objects.\n\nA Cert Matching Rule Attribute Filter compares a link attribute to a string.\n\n\nAttribute|Identifying\n:---|:---:\ndmrClusterName|x\nfilterName|x\nruleName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 500.\n\nThis has been available since 2.28.",
                "operationId": "getDmrClusterCertMatchingRuleAttributeFilters",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ruleName",
                        "in": "path",
                        "description": "The name of the rule.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Certificate Matching Rule Attribute Filter objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterCertMatchingRuleAttributeFiltersResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/certMatchingRules/{ruleName}/attributeFilters/{filterName}": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a Certificate Matching Rule Attribute Filter object.",
                "description": "Get a Certificate Matching Rule Attribute Filter object.\n\nA Cert Matching Rule Attribute Filter compares a link attribute to a string.\n\n\nAttribute|Identifying\n:---|:---:\ndmrClusterName|x\nfilterName|x\nruleName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been available since 2.28.",
                "operationId": "getDmrClusterCertMatchingRuleAttributeFilter",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ruleName",
                        "in": "path",
                        "description": "The name of the rule.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filterName",
                        "in": "path",
                        "description": "The name of the filter.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Certificate Matching Rule Attribute Filter object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterCertMatchingRuleAttributeFilterResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/certMatchingRules/{ruleName}/conditions": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a list of Certificate Matching Rule Condition objects.",
                "description": "Get a list of Certificate Matching Rule Condition objects.\n\nA Cert Matching Rule Condition compares data extracted from a certificate to a link attribute or an expression.\n\n\nAttribute|Identifying\n:---|:---:\ndmrClusterName|x\nruleName|x\nsource|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 500.\n\nThis has been available since 2.28.",
                "operationId": "getDmrClusterCertMatchingRuleConditions",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ruleName",
                        "in": "path",
                        "description": "The name of the rule.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Certificate Matching Rule Condition objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterCertMatchingRuleConditionsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/certMatchingRules/{ruleName}/conditions/{source}": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a Certificate Matching Rule Condition object.",
                "description": "Get a Certificate Matching Rule Condition object.\n\nA Cert Matching Rule Condition compares data extracted from a certificate to a link attribute or an expression.\n\n\nAttribute|Identifying\n:---|:---:\ndmrClusterName|x\nruleName|x\nsource|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been available since 2.28.",
                "operationId": "getDmrClusterCertMatchingRuleCondition",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ruleName",
                        "in": "path",
                        "description": "The name of the rule.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "source",
                        "in": "path",
                        "description": "Certificate field to be compared with the Attribute.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Certificate Matching Rule Condition object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterCertMatchingRuleConditionResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/links": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a list of Link objects.",
                "description": "Get a list of Link objects.\n\nA Link connects nodes (either within a Cluster or between two different Clusters) and allows them to exchange topology information, subscriptions and data.\n\n\nAttribute|Identifying|Deprecated\n:---|:---:|:---:\nclientProfileTcpCongestionWindowSize||x\nclientProfileTcpMaxWindowSize||x\ndmrClusterName|x|\nremoteNodeName|x|\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 100.\n\nThis has been available since 2.11.",
                "operationId": "getDmrClusterLinks",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Link objects' attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterLinksResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/links/{remoteNodeName}": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a Link object.",
                "description": "Get a Link object.\n\nA Link connects nodes (either within a Cluster or between two different Clusters) and allows them to exchange topology information, subscriptions and data.\n\n\nAttribute|Identifying|Deprecated\n:---|:---:|:---:\nclientProfileTcpCongestionWindowSize||x\nclientProfileTcpMaxWindowSize||x\ndmrClusterName|x|\nremoteNodeName|x|\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThis has been available since 2.11.",
                "operationId": "getDmrClusterLink",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "remoteNodeName",
                        "in": "path",
                        "description": "The name of the node at the remote end of the Link.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Link object's attributes, and the request metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DmrClusterLinkResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SempMetaOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/dmrClusters/{dmrClusterName}/links/{remoteNodeName}/attributes": {
            "get": {
                "tags": [
                    "all",
                    "dmrCluster"
                ],
                "summary": "Get a list of Link Attribute objects.",
                "description": "Get a list of Link Attribute objects.\n\nA Link Attribute is a key+value pair that can be used to locate a DMR Cluster Link, for example when using client certificate mapping.\n\n\nAttribute|Identifying\n:---|:---:\nattributeName|x\nattributeValue|x\ndmrClusterName|x\nremoteNodeName|x\n\n\n\nThe minimum access scope/level required to perform this operation is \"global/read-only\".\n\nThe maximum number of objects that can be returned in a single page is 500.\n\nThis has been available since 2.28.",
                "operationId": "getDmrClusterLinkAttributes",
                "parameters": [
                    {
                        "name": "dmrClusterName",
                        "in": "path",
                        "description": "The name of the Cluster.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "remoteNodeName",
                        "in": "path",
                        "description": "The name of the node at the remote end of the Link.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Limit the count of objects in the response. See the documentation for the `count` parameter.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor, or position, for the next page of objects. See the documentation for the `cursor` parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Include in the response only objects where certain conditions are true. See the the documentation for the `where` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Include in the response only selected attributes of the object, or exclude from the response selected attributes of the object. See the documentation for the `select` parameter.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Link Attribute objects' attributes, and the request metadata.",
                        "content": {
[...]
